<% function buildTreeHTML(treeData) { let html='' ; treeData.forEach(item=> {
    html += `
    <li>
        <span class="tree-disk">
            <i class="fa fa-chevron-right" aria-hidden="true" data-path=""></i>
            <span class="disk-icon fa fa-hdd-o"></span>
            <span class="tree-name" data-path="${item}">${item}</span>
        </span>
        <ul></ul>
    </li>
    `;
    });
    return html;
    }
    function buildDiskHTML(DisksData) {
    return DisksData.map(disk => `
    <li>
        <span class="disk fa fa-hdd-o" data-path="" onClick="handleDirectoryClick('')"><span
                class="disk-name">${disk}</span></span>
    </li>
    `).join(''); }
    %>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>File Explorer</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/styles.css" />
        <!-- Adjust the path based on your file structure -->
        <!-- <script src="/js/browser.js" type=""></script> -->
        <!-- Adjust the path based on your file structure -->
        <script src="/js/functions.js" type=""></script>
        <!-- Adjust the path based on your file structure -->
    </head>

    <body>
        <section id="header">
            <h1 class="Title">File Explorer</h1>
            <div class="main-buttons">
                <button class="fa fa-home" onclick="location.href='/files/browse'"></button>
                <button onclick="back()">
                    <i class="fa fa-arrow-up"></i> <span>Up</span>
                </button>
                <button id="toggleViewButton" onclick="toggleView()">
                    <i class="fa fa-exchange" aria-hidden="true"></i>
                    <span>Toggle View</span>
                </button>
                <button id="decreaseSizeButton" onclick="changeElementSize('decrease')">
                    <i class="fa fa-search-minus" aria-hidden="true"></i>
                    <span>Decrease Size</span>
                </button>
                <button id="increaseSizeButton" onclick="changeElementSize('increase')">
                    <i class="fa fa-search-plus" aria-hidden="true"></i>
                    <span>Increase Size</span>
                </button>
            </div>
            <div>
                <button id="logoutButton" onclick="location.href='/auth/logout'">
                    <span>Logout</span>
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                </button>
            </div>
            <!-- <form id="navigationForm">
    <label for="directoryPath">Directory Path:</label>
    <input type="text" id="directoryPath" name="directoryPath" />
    <button type="submit">Go</button>
</form> -->
        </section>

        <section id="explorer">
            <div class="tree">
                <ul id="directoryTree">
                    <!-- Directory tree placeholder -->
                    <%- buildTreeHTML(disks) %>
                </ul>
            </div>
            <div class="content">
                <ul>
                    <div class="disks">
                        <!-- Disks placeholder -->
                        <%- buildDiskHTML(disks) %>
                    </div>
                </ul>
            </div>
        </section>
    </body>

    </html>